# ATMS 523 Module 3 Homework
Megan Walker-Radtke

## Instructions
1. Adapt the code from class that reads GHCN Daily Data from Amazon Web Services and write a function that will download the station you want (called with a GHCN station ID), and calculate the all time record high and low and the normal (mean) high and low temperature for the 1991-2020 period for the desired station and returns a pandas data frame with the columns ['record_min_temp', average_min_temp', 'average_max_temp', record_max_temp'].  Write a code that can call this function and successfully demonstrate that it works.

2. Develop a plot (using matplotlib) that displays for the city of choice a plot showing the record, average, and actual high and low temperatures for that year and city.  
     
     You are permitted to use the "weather" example from the `bokeh` gallery as inspiration.  A running example for what the plot could look like is here: [Weather](https://demo.bokeh.org/weather), and the GitHub repository for the dashboard is [here](https://github.com/bokeh/bokeh/tree/branch-3.9/examples/server/app/weather). Note that you do not have to use bokeh for this assignment, you can use matplotlib!

## Approach
### Write a function to calculate the station climatology
1. Download GHCN Daily Data from AWS S3 for a station of interest using adaptation of code presented in class
2. NaN check:
     - vars: tmax, tmin
     - print: total number of NaNs
     - plot: timeline showing dates with NaNs (purpose: ID whether stations has large data gaps)
3. Calculate climatology:
     - Pull out subset of data for 1991 - 2020
     - Groupby day of the year (e.g. all Jan1 together, all Jan2 together, etc.)
     - Calculate extremes for each day of the year 
          - all-time tmax
          - all-time tmin
     - Calculate means for each day of the year
          - mean tmax
          - mean tmin
4. Save the station climatology to Pandas DF with rows (index) being day of the year and columns ['record_min_temp', average_min_temp', 'average_max_temp', record_max_temp']

### Create a plot that compares daily temperatures in a given year to the 1991-2020 climatology
Plot elements:
1. Climatology
     - Shaded range of extremes (abs tmax: abs tmin)
     - Shaded range of means (mean tmax: mean tmin)
2. Temperatures for a specified year
     - shaded range of tmax: tmin for that year

Plot specifications:
- Horizontal axis: day of the year
- Vertical axis: temperature (deg C)

In [4]:
# Import libraries

import pandas as pd, numpy as np
from pathlib import Path
import fsspec
import matplotlib.pyplot as plt
import seaborn as sns

### Inventory Available Data

In [19]:
# Set up to bring in GHCN data from AWS S3
 
S3_STATIONS_TXT   = "s3://noaa-ghcn-pds/ghcnd-stations.txt"
S3_INVENTORY_TXT  = "s3://noaa-ghcn-pds/ghcnd-inventory.txt"
S3_BY_STATION     = "s3://noaa-ghcn-pds/csv/by_station/{id}.csv"
STOR = {"anon": True}

OUTDIR = Path('../data'); OUTDIR.mkdir(parents=True, exist_ok=True)
OUT_PARQUET = OUTDIR / 'ghcn_KGNV.parquet'
OUT_CSV = OUTDIR / 'ghcn_KGNV.csv'
print('Output:', OUT_PARQUET.resolve())

Output: /Users/meganwalker/MDW Docs/Academic/Univ Illinois/ATMS 523/module3/data/ghcn_KGNV.parquet

In [3]:
# Load GHCN data from AWS S3 and check out what's available

colspecs = [(0,11),(12,20),(21,30),(31,37),(38,40),(41,71),(72,75),(76,79),(80,85)]
names = ['ID','LATITUDE','LONGITUDE','ELEVATION','STATE','NAME','GSN_FLAG','HCN_CRN_FLAG','WMO_ID']

stations = pd.read_fwf(S3_STATIONS_TXT, colspecs=colspecs, names=names, dtype={'ID':str,'STATE':str,'WMO_ID':str}, storage_options=STOR)
stations['NAME'] = stations['NAME'].str.strip(); stations['STATE'] = stations['STATE'].fillna('').str.strip()

inventory = pd.read_csv(
    S3_INVENTORY_TXT, sep=r'\s+', names=['ID','LAT','LON','ELEMENT','FIRSTYEAR','LASTYEAR'],
    dtype={'ID':str,'ELEMENT':str,'FIRSTYEAR':int,'LASTYEAR':int}, engine='python', storage_options=STOR
)

stations.head(), inventory.head()

(            ID  LATITUDE  LONGITUDE  ELEVATION STATE                   NAME  \
 0  ACW00011604   17.1167   -61.7833       10.1        ST JOHNS COOLIDGE FLD
 1  ACW00011647   17.1333   -61.7833       19.2                     ST JOHNS
 2  AE000041196   25.3330    55.5170       34.0          SHARJAH INTER. AIRP
 3  AEM00041194   25.2550    55.3640       10.4                   DUBAI INTL
 4  AEM00041217   24.4330    54.6510       26.8               ABU DHABI INTL

   GSN_FLAG HCN_CRN_FLAG WMO_ID
 0      NaN          NaN    NaN
 1      NaN          NaN    NaN
 2      GSN          NaN  41196
 3      NaN          NaN  41194
 4      NaN          NaN  41217  ,
             ID      LAT      LON ELEMENT  FIRSTYEAR  LASTYEAR
 0  ACW00011604  17.1167 -61.7833    TMAX       1949      1949
 1  ACW00011604  17.1167 -61.7833    TMIN       1949      1949
 2  ACW00011604  17.1167 -61.7833    PRCP       1949      1949
 3  ACW00011604  17.1167 -61.7833    SNOW       1949      1949
 4  ACW00011604  17.1167 -61.7833    SNWD       1949      1949)

### Gather data of interest

In [15]:
# Get user input for state and city of interest

state = input("Enter 2-letter state code (e.g., 'FL'): ").strip().upper() # remove accidental whitespace and force the state abbreviation to uppercase
city = input("Enter city name (e.g., 'Gainesville'): ").strip().upper() # remove accidental whitespace and force the city name to uppercase to match GHCN format

In [9]:
# Narrow down to stations in state of interest with at least 30 years of data (so that climatology can be computed)

# Calculate period of record for each station
coverage = (inventory.groupby('ID', as_index=False)
                    .agg(first=('FIRSTYEAR','min'), last=('LASTYEAR','max'))
                    .assign(years=lambda d: d['last'] - d['first'] + 1))

state_list = (stations.loc[stations['STATE']==state, ['ID','NAME','STATE','LATITUDE','LONGITUDE','ELEVATION']]
              .merge(coverage, on='ID', how='inner'))
state30 = state_list[state_list['years']>=30].copy()
state30.sort_values(['years','ID'], ascending=[False, True]).head(12)

,ID,NAME,STATE,LATITUDE,LONGITUDE,ELEVATION,first,last,years
1826,USC00080478,BARTOW 1SE,FL,27.8864,-81.8325,34.1,1892,2025,134
1891,USC00082229,DELAND 1 SSE,FL,29.0097,-81.2986,7.6,1892,2025,134
1903,USC00082944,FERNANDINA BEACH,FL,30.6669,-81.4525,14.9,1892,2025,134
1958,USC00084731,LAKE CITY 2 E,FL,30.1853,-82.5942,59.4,1892,2025,134
2021,USC00086414,OCALA,FL,29.1639,-82.0778,22.9,1892,2025,134
2060,USC00087205,PLANT CITY,FL,28.0208,-82.1392,33.2,1892,2025,134
2116,USC00088824,TARPON SPGS SEWAGE PLT,FL,28.1522,-82.7539,1.8,1892,2025,134
2179,USW00012835,FT MYERS PAGE FLD AP,FL,26.5850,-81.8614,4.0,1892,2025,134
2184,USW00012841,ORLANDO EXECUTIVE AP,FL,28.5467,-81.3356,31.7,1892,2025,134
1822,USC00080369,AVON PARK 2 W,FL,27.5947,-81.5267,46.9,1892,2022,131
2081,USC00087851,SAINT LEO,FL,28.3381,-82.2603,52.7,1895,2025,131
1900,USC00082915,FEDERAL PT,FL,29.7550,-81.5389,1.5,1892,2020,129

In [ ]:
# Search for stations that include the city name provided by the user, and offer the user the option to choose which station to use if multiple matches are found
city_stations = state30[state30['NAME'].str.contains(city, na=False)].copy()

if not city_stations.empty:
    print(f"Found {len(city_stations)} station(s) matching '{city}' in {state}:")
    display(city_stations)
    
    # Ask user to select a station from the list
    stationID = input("Which station would you like to use? Copy and paste the station ID (e.g., 'USW00012839'): ")
    print(f"Using station {city_stations.loc[city_stations['ID'] == stationID, 'NAME'].values[0]} ({stationID})")

else: # if no stations found matching city name, offer user the option to search for the closest station by lat/lon instead
    print( f"No stations found matching '{city}' in {state}.")
    search_option = input("Would you like to search for the closest station by latitude/longitude instead? (yes/no): ")
    if search_option.lower() == 'yes':
        # Get user input for latitude and longitude
        city_lat = float(input("Enter city latitude (e.g., 29.6516): ").strip()) 
        city_lon = float(input("Enter city longitude (e.g., -82.3248): ").strip())

        # Find the closest station by calculating the minimum lat/lon distance from a station to the city coordinates
        state30['DISTANCE'] = np.sqrt((state30['LATITUDE'] - city_lat)**2 + (state30['LONGITUDE'] - city_lon)**2)
        closest_station = state30.loc[state30['DISTANCE'].idxmin()]
        stationID = closest_station['ID']
        print(f"The closest station to this location is {closest_station['NAME']} ({stationID}) at a distance of {closest_station['DISTANCE']:.2f} degrees.")
    else:
        print("Exiting program.")
        exit()

No stations found matching 'WALDO' in FL.
The closest station to this location is GAINESVILLE UNIV OF FL (USC00083316) at distance of 0.03 degrees.
The closest station to this location is GAINESVILLE UNIV OF FL (USC00083316) at distance of 0.03 degrees.

In [ ]:
# Get the data for the station of interest

url = S3_BY_STATION.format(id=stationID)

def load_station_daily(url: str) -> pd.DataFrame:
    df = pd.read_csv(url, storage_options=STOR, dtype={'ID':str,'ELEMENT':str}, parse_dates=['DATE'])
    df['DATA_VALUE'] = df['DATA_VALUE'].replace(-9999, np.nan)
    wide = (df.pivot_table(index=['ID','DATE'], columns='ELEMENT', values='DATA_VALUE', aggfunc='first').reset_index())
    for c in ('TMAX','TMIN','TAVG'):
        if c in wide: wide[c] = wide[c]/10.0
    if 'PRCP' in wide: wide['PRCP'] = wide['PRCP']/10.0
    return wide.sort_values(['ID','DATE']).reset_index(drop=True)

w = load_station_daily(url)
print(f"The GHCN data for {closest_station['NAME']} ({stationID}) has {w.shape} elements")

daily = w.copy()
daily.head()

The GHCN data for GAINESVILLE UNIV OF FL (USC00083316) has (23399, 18) elements
USC00083316 (23399, 18)

ELEMENT,ID,DATE,PRCP,SNOW,SNWD,TMAX,TMIN,TOBS,WT01,WT03,WT04,WT05,WT07,WT08,WT09,WT10,WT11,WT14
0,USC00083316,1890-07-13,0.0,NaN,NaN,33.3,22.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,USC00083316,1890-07-14,0.0,NaN,NaN,36.7,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,USC00083316,1890-07-15,0.0,NaN,NaN,34.4,21.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,USC00083316,1890-07-16,0.0,NaN,NaN,34.4,21.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,USC00083316,1890-07-17,7.6,NaN,NaN,34.4,22.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN